
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Reddit+Mono:wght@200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #151515;
  color: white;
}

.intro , .projects,.skills{
  padding-left: 35px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.intro h1{
  font-size: 60px;
}
.intro h1,.projects h2{
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.intro h2{
  font-size: 20px;
  margin: 5px 0;
  font-family: "Radio Canada Big", sans-serif;
 font-weight: 100;
  
}
.intro p{
  font-size: 15px;
  margin: 30px 0;
  color: #B4B4B8;
}

.links{
  padding: 10px 0 30px 0;
}
.links a {
  color: white;
}
.links .fa-linkedin,.fa-instagram{
  margin-left: 20px;
}

.projects h2{
  font-size: 40px;
}

.projects p{
  width: 90%;
 
   font-size: 15px;
  margin: 20px 0;
  color: #B4B4B8;
}

.project {
  margin: 40px 0;
  border: 2px solid white;
  padding: 15px;
  margin-right: 80px;
  border-radius: 20px;
}

.project h3{
  font-size: 25px;
  margin: 5px 0;
  font-family: "Radio Canada Big", sans-serif;
 font-weight: 100;
}

.project button{
  padding: 11px;
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  font-family: "Reddit Mono", sans-serif;
 font-weight: 800;
}


.skills h2{
  font-size: 40px;
}
.skills p{
  font-size: 15px;
  margin: 20px 0;
  color: #B4B4B8;
}
 .skill {
   margin: 20px 0;
   width: 60% ;
   display: flex;
   justify-content: space-between;
 }
.skill input{
  width: 250px;
}
.fa-html5{
  font-size: 50px;
}

.skill img {
  width: 50px;
}



/* Style the track */
input[type="range"] {
  border-radius: 20px;
  -webkit-appearance: none; /* Remove default styling */
  width: 100%; /* Full width */
  height: 10px; /* Track height */
  background: #ddd; /* Track color */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Track opacity */
  transition: opacity .15s ease-in-out; /* Smooth transition for hover effect */
}

input[type="range"]:hover {
  opacity: 1; /* Full opacity on hover */
}

/* Style the thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 15px; /* Thumb width */
  height: 15px; /* Thumb height */
  background: white; /* Thumb color */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50%; /* Rounded thumb */
}







@media screen and (max-width: 580px) {
  .intro h1{
    font-size: 40px;
  }
  .intro h2{
    font-size: 15px;
  }
  .skill{
    width: 80%;
  }
  .skill input {
    width: 200px;
  }
}

